.canvasNetwork {
  height: 1340px;
}

@media (min-width: 1024px) {
  .canvasNetwork {
    height: 700px;
  }
}

.outerSpace {
  background-color: #120012;
}

.logoShadow {
  text-shadow: 0 0 140px #420043;
  -webkit-box-shadow: 0 0 140px #420043;
  -moz-box-shadow: 0 0 140px #420043;
}

.logoShadowGreen {
  text-shadow: 0 0 140px #005213;
  -webkit-box-shadow: 0 0 140px #005213;
  -moz-box-shadow: 0 0 140px #005213;
}
