.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main.content {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  min-height: 84px;
}

@media (max-width: 480px) {
  .header {
    padding-top: 16px;
  }

  .headerFlags {
    display: none;
  }
}

footer.content {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer.content img {
  margin-left: 0.5rem;
}

footer.content a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 1em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
